# This file is the entry point to configure your own services.
# Files in the packages/ subdirectory configure your dependencies.

# Put parameters here that don't need to change on each machine where the app is deployed
# https://symfony.com/doc/current/best_practices/configuration.html#application-related-configuration
parameters:
    app.storage_folder: '%kernel.project_dir%/public/assets/uploads'
    app.processing_folder: '%kernel.project_dir%/public/assets/img'

services:
    # default configuration for services in *this* file
    _defaults:
        autowire: true      # Automatically injects dependencies in your services.
        autoconfigure: true # Automatically registers your services as commands, event subscribers, etc.

    # makes classes in src/ available to be used as services
    # this creates a service per class whose id is the fully-qualified class name
    LaSalle\Rendimiento\JudithVilela\:
        resource: '../src/*'
        exclude: '../src/{DependencyInjection,Entity,Migrations,Tests,Kernel.php}'

    # controllers are imported separately to make sure services can be injected
    # as action arguments even if you don't extend any base controller class
    LaSalle\Rendimiento\JudithVilela\ImageRegister\Infrastructure\Controller\:
        resource: '../src/ImageRegister/Infrastructure/Controller'
        tags: ['controller.service_arguments']

    # add more service definitions when explicit configuration is needed
    # please note that last definitions always *replace* previous ones

    LaSalle\Rendimiento\JudithVilela\ImageRegister\Infrastructure\Controller\GalleryImagesController:
        arguments:
            - '@LaSalle\Rendimiento\JudithVilela\ImageRegister\Application\ViewImage\ViewImage'

    LaSalle\Rendimiento\JudithVilela\ImageRegister\Application\SaveImage\SaveImage:
        arguments:
            - '@LaSalle\Rendimiento\JudithVilela\ImageRegister\Infrastructure\Persistence\Repository\MySQLImageRegisterRepository'

    LaSalle\Rendimiento\JudithVilela\Shared\Infrastructure\Bus\Event\RabbitMq\RabbitMqProducer:
        arguments:
            - '@old_sound_rabbit_mq.image_processing_producer'

    LaSalle\Rendimiento\JudithVilela\ImageRegister\Application\ImageProcessed\ImageProcessed:
        arguments:
            - '@LaSalle\Rendimiento\JudithVilela\Shared\Infrastructure\Bus\Event\RabbitMq\RabbitMqProducer'

    LaSalle\Rendimiento\JudithVilela\ImageRegister\Infrastructure\Controller\uploadImagesController:
        arguments:
            - '@LaSalle\Rendimiento\JudithVilela\ImageRegister\Application\ImageProcessed\ImageProcessed'
            - '@LaSalle\Rendimiento\JudithVilela\ImageRegister\Application\SaveImage\SaveImage'
        tags:
            - { name: 'image.register'}